* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container__wrapper {
  min-height: 650px;
  height: 700px;
  margin-top: -100px;
  background: url("../assets/bgMain2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.navbar {
  height: 100px;
}

.navbar__wrap {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__wrap section {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar__wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  padding: 0.5rem;
  font-size: .9rem;
  font-weight: 600;
  -webkit-font-kerning: none;
          font-kerning: none;
  letter-spacing: .07rem;
  color: black;
  -webkit-transition: color .7s ease-in-out;
  transition: color .7s ease-in-out;
}

.nav-brand, .nav__brand__collapse {
  color: black;
  font-size: 2.2rem;
}

.nav-link:hover {
  color: #535353;
}

.navbar__btn__close, .nav__brand__collapse {
  display: none;
}

.container__order {
  text-align: center;
}

.container__order h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  letter-spacing: .9rem;
}

.container__btn {
  padding: 10px 30px 10px 30px;
  border: 2px solid black;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container__btn:hover {
  border: 2px solid #5c5b5b;
  color: #535353;
}

.title {
  width: 100%;
  background-color: white;
}

.title__header {
  width: 50%;
  margin: 0 auto;
  margin-top: 190px;
  margin-bottom: 190px;
  text-align: center;
}

.title__header .title__text {
  font-size: 1.4rem;
  font-stretch: expanded;
  -webkit-font-kerning: none;
          font-kerning: none;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

.title__header .title__text span {
  font-size: 70px;
  letter-spacing: .5rem;
}

.title__main {
  height: 600px;
  background: url("../assets/bgMainSection.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__main h1, .title__main a {
  color: white;
}

.title__main a {
  border: 2px solid white;
}

.title__footer {
  margin: 80px;
}

.title__footer h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.3rem;
  padding: 20px;
}

.title__features li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
}

.title__features li span {
  width: 80%;
  margin-left: 1rem;
  opacity: 0.6;
}

.title__features li h5 {
  width: 20%;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 100;
}

.contacts {
  background-color: #aea6a2;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 100px;
}

.contact__wrapper div {
  width: 270px;
}

.contact__wrapper div h4, .contact__wrapper div p {
  margin-bottom: 10px;
  font-size: 1rem;
  -webkit-font-kerning: none;
          font-kerning: none;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.contact__wrapper div a {
  color: black;
  margin-right: 1rem;
}

.contact__wrapper div a:hover, .contact__wrapper div p:hover {
  opacity: 0.7;
}

.scroll__btn {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 25px;
  bottom: 25px;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  border: none;
  color: black;
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
  -webkit-transition: color .5s;
  transition: color .5s;
  cursor: pointer;
  z-index: 8;
}

.scroll__btn:focus {
  outline: none;
}

.scroll__btn:hover {
  color: rgba(0, 0, 0, 0.592);
}

@media only screen and (max-width: 920px) {
  .container__wrapper {
    margin-top: 0;
  }
  .navbar {
    background-color: white;
  }
  .navbar ul .nav-link {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 800px) {
  .title__features li {
    display: block;
  }
  .title__features li h5 {
    width: 100%;
  }
  .contact__wrapper {
    display: block;
  }
  .contact__wrapper div {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    min-height: 90px;
    overflow: hidden;
    -webkit-transition: height 1s ease-out;
    transition: height 1s ease-out;
  }
  .navbar__wrap {
    display: none;
    position: relative;
    padding-top: 70px;
  }
  .navbar__wrap section {
    display: block;
    width: 100%;
    height: auto;
  }
  .navbar__wrap .nav-brand {
    display: none;
  }
  .navbar__wrap ul {
    display: block;
    text-align: left;
  }
  .navbar__wrap ul li {
    margin: .6rem;
  }
  .navbar__wrap ul li .nav-link {
    display: block;
  }
  .nav__brand__collapse {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 30px;
    left: 20px;
  }
  .navbar__btn__close {
    position: absolute;
    right: 100px;
    top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    max-height: 90px;
  }
}

.disabled {
  cursor: not-allowed;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation {
  height: 320px;
  -webkit-transition: height 1s;
  transition: height 1s;
}
/*# sourceMappingURL=style.css.map */